In [1]:
import pandas as pd
df = pd.read_csv("Titanic-Dataset (1).csv")

# View first few rows
df.head()
df.info()

#Identify Missing Values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [2]:
#Clean Missing Values

#Drop irrelevant columns
df.drop(columns=["Cabin"], inplace=True)

#Fill numeric column using median
df["Age"].fillna(df["Age"].median(), inplace=True)

#Fill categorical column using mode
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)
df.isnull().sum()

/tmp/ipython-input-934982631.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)
/tmp/ipython-input-934982631.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [3]:
df.duplicated().sum()

np.int64(0)

In [4]:
#Remove Duplicate Rows

rows_before = df.shape[0]
df.drop_duplicates(inplace=True)
rows_after = df.shape[0]

print("Rows before:", rows_before)
print("Rows after:", rows_after)

Rows before: 891
Rows after: 891

In [5]:
#Convert Data Types
df["PassengerId"] = df["PassengerId"].astype(int)

In [6]:
#Create New Columns
def age_category(age):
    if age < 18:
        return "Child"
    elif age < 60:
        return "Adult"
    else:
        return "Senior"
#Fare Band
df["Age_Category"] = df["Age"].apply(age_category)

df["Fare_Band"] = pd.qcut(df["Fare"], 4, labels=["Low", "Medium", "High", "Very High"])

In [8]:
from google.colab import files

#Save Cleaned Dataset
df.to_csv("titanic_cleaned.csv", index=False)
files.download("titanic_cleaned.csv")